  {% extends "layout.html" %}

  {% block body %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <!-- <img class="hero" src="img/OurHeroFlippedBW4-3-smaller copy.jpg" > -->
          <img class="hero" src="/static/img/MoVoteAssets-00.png" >
        </div>
    </div><!-- /.carousel -->
    <div class="container">
      <div class="col-sm-4">
        <hr class="thickRule1">
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <hr class="thickRule2">
      </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
      <!-- START THE FEATURETTES -->

      <div class="row">
          <p class="featurette-intro">The hair has come on and gone, but we need your <a href="#votingPanel">vote</a> to crown the Movember Champ.</p>
          <hr>
      </div>
      
      <div class="row">
          <h2 class="featurette-heading">The Candidates</h2>
          <hr>
      </div>


       <div class="row candidateRow">
 
        <div class="col-md-3 candidate" >
          <img class="featurette-image img-responsive on" src="/static/img/portraits/Alex_Wastney.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/portraits/Alex_Wastney_1.jpg" />
          <h3>Alex Wastney</h3>
        </div>

        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/portraits/Alistair_Davies.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/portraits/Alistair_Davies.jpg" />
          <h3>Alistair Davies</h3>
        </div>

        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/portraits/Andrew_McIntyre.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/portraits/Andrew_McIntyre_1.jpg" />
          <h3>Andrew McIntyre</h3>
        </div>

        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/portraits/Anthony_Torris.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/portraits/Anthony_Torris_1.jpg" />
          <h3>Anthony Torris</h3>
        </div>

      </div>

      <div class="row candidateRow">
        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/portraits/Charlie_Paradise.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/portraits/Charlie_Paradise_1.jpg" />
          <h3>Charlie Paradise</h3>
        </div>
        

        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/portraits/Clay_Wiedemann.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/portraits/Clay_Wiedemann.jpg" />
          <h3>Clay Wiedemann</h3>
        </div>
        

        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/portraits/Damian_Wisniewski.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/portraits/Damian_Wisniewski_1.jpg" />
          <h3>Damian Wisniewski</h3>
        </div>
        

        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/portraits/Dave_Werzinger.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/portraits/Dave_Werzinger_1.jpg" />
          <h3>Dave Werzinger</h3>
        </div>
        
      </div>

      <div class="row candidateRow">
        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/portraits/Joey_Zeledon.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/portraits/Joey_Zeledon_1.jpg" />
          <h3>Joey Zeledon</h3>
        </div>
        

        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/portraits/John_Traub.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/portraits/John_Traub_1.jpg" />
          <h3>John Traub</h3>
        </div>
        

        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/portraits/Marie_Bachoc.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/portraits/Marie_Bachoc_1.jpg" />
          <h3>Marie Bachoc</h3>
        </div>
        

        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/portraits/Nathan_Brouillet.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/portraits/Nathan_Brouillet_1.jpg" />
          <h3>Nathan Brouillet</h3>
        </div>
      </div>

      <div class="row candidateRow">        
        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/portraits/Phillip_Hartley.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/portraits/Phillip_Hartley_1.jpg" />
          <h3>Phillip Hartley</h3>
        </div>
        

        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/portraits/Richard_Whitehall.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/portraits/Richard_Whitehall_1.jpg"/>
          <h3>Richard WhiteHall</h3>
        </div>
        
 
        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/portraits/Russell_Blanchard.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/portraits/Russell_Blanchard_1.jpg" />
          <h3>Russell Blanchard</h3>
        </div>
        

        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/portraits/Simone_Capano.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/portraits/Simone_Capano_1.jpg" />
          <h3>Simone Capano</h3>
        </div>
      </div>

      <div class="row candidateRow candidate">
        <div class="col-md-3">
          <img class="featurette-image img-responsive on" src="/static/img/portraits/Tony_Mallier.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/portraits/Tony_Mallier_1.jpg" />
          <h3>Tony Mallier</h3>
        </div>
              
      </div>

      </div>
    

      <hr>

     <div class="container">

      
    <form action="/voted" method="POST">
      <!-- {{ form.csrf_token }} -->


      {% if form.errors %}
          <ul class="errors">
              {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                  {% for error in field_errors %}
                      <li>{{ form[field_name].label }}: {{ error }}</li>
                  {% endfor %}
              {% endfor %}
          </ul>
      {% endif %}


      <!-- Four columns of text below the carousel -->
      <div style="margin-bottom:30px;" id="votingPanel" class="row">
        <div class="col-md-3 votingCategory" >
          <img class="img-circle categoryImage" src="/static/img/MoVoteAssets-01.png" >
          <h2 style="padding-bottom:15%;">Best Overall</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        
        {{form.bestoverall}}
    
        </div><!-- /.col-lg-3 -->

        <div class="col-md-3 votingCategory">
          <img class="img-circle categoryImage" src="/static/img/MoVoteAssets-03.png" >
          <h2>Biggest Transformation</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        
        {{form.transformation}}
        
        </div><!-- /.col-lg-3 -->
        
        <div class="col-md-3 votingCategory">
          <img class="img-circle categoryImage" src="/static/img/MoVoteAssets-02.png" >
          <h2>Most Likely to Get Arrested</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh</p>
        
        {{form.arrestable}}
        
        </div><!-- /.col-lg-3 -->
        
        <div class="col-md-3 votingCategory">
          <img class="img-circle categoryImage" src="/static/img/MoVoteAssets-04.png" >
          <h2 style="padding-bottom:15%;">Please Keep it</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh</p>
        
        {{form.keepit}}
        
        </div><!-- /.col-lg-3 -->

      </div><!-- /.row -->
      <!-- <input  style="float:right;" type="submit" value=" Vote! "> -->
      <button class="btn btn-default voteButton" type="submit">Vote!</button>
    <form>
    </div><!-- /.container -->

    {% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}