  {% extends "layout.html" %}

  {% block body %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <img class="hero" src="/static/img/MoVoteAssets-00.png" >
        </div>
    </div><!-- /.carousel -->
    <div class="container">
      <div class="col-sm-4">
        <hr class="thickRule1">
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <hr class="thickRule2">
      </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
      <!-- START THE FEATURETTES -->

      <div class="row">
          <p class="featurette-intro">The hair has come on and gone, but we need your <a href="#votingPanel">vote</a> to crown the Movember Champ.</p>
          <hr>
      </div>
      
      <div class="row">
          <h2 class="featurette-heading">The Candidates</h2>
          <hr>
      </div>


       <div class="row candidateRow">
 
        <div class="col-md-3 candidate" >
          <img class="featurette-image img-responsive on" src="/static/img/Portraits/Alex_Wastney.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/Portraits/Alex_Wastney_1.jpg" />
          <h3>Alex Wastney</h3>
        </div>

        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/Portraits/Alistair_Davies.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/Portraits/Alistair_Davies.jpg" />
          <h3>Alistair Davies</h3>
        </div>

        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/Portraits/Andrew_McIntyre.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/Portraits/Andrew_McIntyre_1.jpg" />
          <h3>Andrew McIntyre</h3>
        </div>

        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/Portraits/Anthony_Torris.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/Portraits/Anthony_Torris_1.jpg" />
          <h3>Anthony Torris</h3>
        </div>

      </div>

      <div class="row candidateRow">
        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/Portraits/Charlie_Paradise.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/Portraits/Charlie_Paradise_1.jpg" />
          <h3>Charlie Paradise</h3>
        </div>
        

        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/Portraits/Clay_Wiedemann.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/Portraits/Clay_Wiedemann.jpg" />
          <h3>Clay Wiedemann</h3>
        </div>
        

        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/Portraits/Damian_Wisniewski.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/Portraits/Damian_Wisniewski_1.jpg" />
          <h3>Damian Wisniewski</h3>
        </div>
        

        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/Portraits/Dave_Werzinger.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/Portraits/Dave_Werzinger_1.jpg" />
          <h3>Dave Werzinger</h3>
        </div>
        
      </div>

      <div class="row candidateRow">
        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/Portraits/Joey_Zeledon.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/Portraits/Joey_Zeledon_1.jpg" />
          <h3>Joey Zeledon</h3>
        </div>
        

        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/Portraits/John_Traub.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/Portraits/John_Traub_1.jpg" />
          <h3>John Traub</h3>
        </div>
        

        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/Portraits/Marie_Bachoc.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/Portraits/Marie_Bachoc_1.jpg" />
          <h3>Marie Bachoc</h3>
        </div>
        

        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/Portraits/Nathan_Brouillet.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/Portraits/Nathan_Brouillet_1.jpg" />
          <h3>Nathan Brouillet</h3>
        </div>
      </div>

      <div class="row candidateRow">        
        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/Portraits/Phillip_Hartley.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/Portraits/Phillip_Hartley_1.jpg" />
          <h3>Phillip Hartley</h3>
        </div>
        

        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/Portraits/Richard_WhiteHall.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/Portraits/Richard_WhiteHall_1.jpg"/>
          <h3>Richard WhiteHall</h3>
        </div>
        
 
        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/Portraits/Russell_Blanchard.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/Portraits/Russell_Blanchard_1.jpg" />
          <h3>Russell Blanchard</h3>
        </div>
        

        <div class="col-md-3 candidate">
          <img class="featurette-image img-responsive on" src="/static/img/Portraits/Simone_Capano.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/Portraits/Simone_Capano_1.jpg" />
          <h3>Simone Capano</h3>
        </div>
      </div>

      <div class="row candidateRow candidate">
        <div class="col-md-3">
          <img class="featurette-image img-responsive on" src="/static/img/Portraits/Tony_Mallier.jpg" />
          <img class="featurette-image img-responsive off" src="/static/img/Portraits/Tony_Mallier_1.jpg" />
          <h3>Tony Mallier</h3>
        </div>
              
      </div>

      </div>
    

      <hr>

     <div class="container">

      
    <form action="/voted" method="POST">
      {{ form.csrf_token }}


      {% if form.errors %}
          <ul class="errors">
              {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                  {% for error in field_errors %}
                      <li>{{ form[field_name].label }}: {{ error }}</li>
                  {% endfor %}
              {% endfor %}
          </ul>
      {% endif %}


      <!-- Four columns of text below the carousel -->
      <div style="margin-bottom:30px;" id="votingPanel" class="row">
        <div class="col-md-3 votingCategory" >
          <img class="img-circle categoryImage" src="/static/img/MoVoteAssets-01.png" >
          <h2 style="padding-bottom:15%;">Best Overall</h2>
          <p>Dop dog award for best Moustache in show.Can hold their own with Tom Selleck because its unique, well groomed and looks like it’s been there forever.
          </p>
          <div class="row"></div>
        
        {{form.bestoverall}}
    
        </div><!-- /.col-lg-3 -->

        <div class="col-md-3 votingCategory">
          <img class="img-circle categoryImage" src="/static/img/MoVoteAssets-03.png" >
          <h2>Biggest Transformation</h2>
          <p>Who’s that new guy sitting next to Eli? Not sure but his Moustache is outstanding!
          You used to be a boy now you’re a man.</p>
          <div class="row"></div>
        
        {{form.transformation}}
        
        </div><!-- /.col-lg-3 -->
        
        <div class="col-md-3 votingCategory">
          <img class="img-circle categoryImage" src="/static/img/MoVoteAssets-02.png" >
          <h2>Most Likely to Get Arrested</h2>
          <p>That thing looks criminal and I’m surprised you still work here.</p>
          <div class="row"></div>
        
        {{form.arrestable}}
        
        </div><!-- /.col-lg-3 -->
        
        <div class="col-md-3 votingCategory">
          <img class="img-circle categoryImage" src="/static/img/MoVoteAssets-04.png" >
          <h2 style="padding-bottom:15%;">Please Keep it</h2>
          <p>The Moustache made you a better person and far better looking.
          The day this thing comes off will be a sad day for the office.</p>
        <div class="row"></div>
        {{form.keepit}}
        
        </div><!-- /.col-lg-3 -->

      </div><!-- /.row -->
      <!-- <input  style="float:right;" type="submit" value=" Vote! "> -->
      <button class="btn btn-default voteButton" type="submit">Vote!</button>
    <form>
    </div><!-- /.container -->

    {% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}