  {% extends "layout.html" %}

  {% block body %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <!-- <img class="hero" src="img/OurHeroFlippedBW4-3-smaller copy.jpg" > -->
          <img class="hero" src="/static/img/MoVoteAssets-00.png" >
        </div>
    </div><!-- /.carousel -->
    <div class="container">
      <div class="col-sm-4">
        <hr class="thickRule1">
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <hr class="thickRule2">
      </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
      <!-- START THE FEATURETTES -->

      <div class="row">
          <p class="featurette-intro">Thanks for your Vote.  The Results will be announced shortly
          <hr>
      </div>
      
      <div class="row">
          <h2 class="featurette-heading">Face Grown...Hand Groomed</h2>
          <hr>
      </div>

    {% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}